html {
  height: 100%!important;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Jost', sans-serif;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
  color: #fff;
  background-color: #000;
  display: flex;
}

canvas#matrix {
  position: fixed;
  min-height: 100vh;
  max-width: 100%;
  z-index: -1;
  top: 0;
}

video#profile-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#cover-container {
  max-width: 24.5em;
  padding: 1rem!important;
  margin-right: auto!important;
  margin-left: auto!important;
  flex-direction: column!important;
  height: 100%!important;
  width: 100%!important;
  display: flex!important;
  text-align: center;
  z-index: 2;
  box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABtJREFUGFdjZGBg+M/AwMDIAAVwBjYBsEoMFQBW5gIF0HSEnwAAAABJRU5ErkJggg==") repeat;
}

#cover-container header {
  margin-bottom: auto!important;
}

#cover-container main {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}

#cover-container footer {
  margin-top: auto!important;
}

#cover-container p {
  font-size: 1.25rem;
  font-weight: 300;
}

#cover-container hr {
  margin: auto;
  width: 40%;
}

#cover-container ul {
  padding: 0;
}

#cover-container li {
  list-style: none;
  display: inline-block
}

#cover-container footer ul li img {
  width: 40px;
}

#cover-container footer ul li img {
  transition-property: transform, filter; 
  transition-duration: .2s; 
  transition-timing-function: ease-out; 
}

#cover-container footer ul li img:hover,
#cover-container footer ul li img:focus {
  filter: brightness(0) invert(1) drop-shadow(0 0 18px #fff);
  transform: scale(.9);
}

#cover-container a[href^="mailto:"] {
  color: #fff;
  position: relative;
  text-decoration: none;
}

#cover-container a[href^="mailto:"]::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#cover-container a[href^="mailto:"]:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media only screen and (min-width: 600px) {
  video#profile-video {
    object-fit: contain;
  }
}